<?php
return [
    'strokercache' => [
        'strategies' => [
            'enabled' => [
                'StrokerCache\Strategy\RouteName' => [
                    'routes' => [
                        'home',
                    ],
                ],
            ],
        ],
    ],
];